<div class="row" id="row-1">
  <div class="col-md-12" id="columnMenu">
    <div class="title-welcome">
      <h1>Bienvenido Coordinador</h1>
    </div>
  </div>
  <div class="col-md-1" id="column1"></div>
</div>
<div class="row" id="row-2">  
  <div class="col" id="options">
    <div class="card-menu">
        <div class="card-menu" onclick="location.href='/registro';" style="cursor: pointer;">
          <div class="card-body">
          <a class="card-title">Registrar aprendiz</a>
        <i class="bi bi-person-add" id="menu"></i>
      </div>
      </div>
    </div>
  </div>        
  <div class="col" id="options">
    <div class="card-menu">
      <div class="card-menu" onclick="location.href='/reportarAprendizcoordinacion';" style="cursor: pointer;">
      <div class="card-body">
        <a class="card-title">Reportar aprendiz</a>
        <i class="bi bi-flag" id="menu"></i>
      </div>
    </div>
    </div>
  </div>   
  <div class="col" id="options">
    <div class="card-menu">
      <div class="card-menu" onclick="location.href='/procesosPendientescoordinacion/i';" style="cursor: pointer;">
      <div class="card-body">
        <a class="card-title">Casos pendientes</a>
        <i class="bi bi-card-list" id="menu"></i>
      </div>
    </div>
    </div>
  </div>  
  <div class="col" id="options">
    <div class="card-menu">
      <div class="card-menu" onclick="location.href='/consultarcoordinacion/';" style="cursor: pointer;">
      <div class="card-body">
        <a class="card-title">Consultar historial</a>
        <i class="bi bi-search" id="menu"></i>
      </div>
    </div>
    </div>
  </div>
  <div class="col" id="options">
    <div class="card-menu">
      <div class="card-menu" onclick="location.href='/usuarios';" style="cursor: pointer;">
      <div class="card-body">
        <a class="card-title">Control de Usuarios</a>
        <i class="bi bi-search" id="menu"></i>
      </div>
    </div>
    </div>
  </div>    
</div> 




