{% extends "base.html" %}
{% block content %}
<div class="d-flex align-items-center justify-content-center" style="min-height: 100vh; background-color: #818586;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="card shadow-lg p-4 border-0 rounded">
                    <div class="card-body text-center">
                        <h2 class="card-title text-dark">Paso 2</h2>
                        <p class="card-text text-muted mb-4">El proceso de restablecimiento de contraseña ha sido exitoso.</p>
                        <hr class="my-4">
                        <p class="mb-4">En los próximos minutos le enviaremos la confirmación a su correo electrónico.</p>
                        <a href="/" class="btn btn-success btn-block btn-lg">Ir al Inicio</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
