{% extends "base.html" %}
{% block content %}
{%include ("layout/instructor/navInstructor.html") %}
<div>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Identificación</th>
            <th scope="col">Correo</th>
            <th scope="col">Contraseña</th>
            <th scope="col">Rol</th>
            <th scope="col">Fichas</th>
          </tr>
        </thead>
        <tbody>
            {% if usuario %}
                {% for mostrar in usuario %}
                    <tr>
                        <td>{{ mostrar.Identificacion }}</td>
                        <td>{{ mostrar.Correo }}</td>
                        <td>{{ mostrar.password }}</td>
                        <td>{{ mostrar.id_rol }}</td>
                        <td>{{ mostrar.Ficha }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4" class="text-center">No hay datos</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock content %}
