{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Editar Usuario</h2>
    <form method="POST">
        <div class="form-group mb-3">
            <label for="Correo" class="form-label">Correo</label>
            <input type="email" class="form-control" id="Correo" name="Correo" value="{{ usuario.Correo }}" required>
        </div>
        <div class="form-group mb-3">
            <label for="Identificacion" class="form-label">Identificación</label>
            <input type="Identificacion" class="form-control" id="Identificacion" name="Identificacion" value="{{ usuario.Identificacion }}" required>
        </div>
        <div class="form-group mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" value="{{ usuario.password }}" required>
        </div>
        <div class="form-group mb-3">
            <label for="id_rol" class="form-label">Rol</label>
            <select class="form-select" id="id_rol" name="id_rol" required>
                <option value="1" {% if usuario.id_rol == 1 %}selected{% endif %}>Coordinador</option>
                <option value="2" {% if usuario.id_rol == 2 %}selected{% endif %}>Instructor</option>
                <option value="3" {% if usuario.id_rol == 3 %}selected{% endif %}>Relator</option>
                <option value="4" {% if usuario.id_rol == 4 %}selected{% endif %}>Aprendiz</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" a='/usuarios'>Guardar Cambios</button>
        <button type="submit" class="btn btn-secondary" a='/usuarios'>cancelar</button>
    </form>
</div>
{% endblock content %}
