{% extends "base.html" %}
{% block content %}

<div>
    <div class="row">          
        <div class="col-sm-12" id="column">
            <form action="{{ url_for('FuncionL') }}" method="POST">
                <img src="{{ url_for('static', filename='images/comite_logo.png') }}" class="logo-login">
                <br>
                <h1 class="login-title">Iniciar Sesión</h1>
                <br>
                <div class="mb-3">
                    <label for="exampleInputId" class="form-label">Número de documento</label>
                    <input type="text" class="form-control" id="exampleInputId" aria-describedby="IdHelp" name="txtDocumento">               
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="txtPassword">  
                </div>
                {% if mensaje %}
                <div class="alert alert-danger" role="alert">
                    {{ mensaje }}
                </div>
                {% endif %}
                <button type="submit" class="btn btn-login">Ingresar</button>
                <br>
                <div class="password">
                    <button class="recover">
                        <a class="nav-link active" href="{{ url_for('olvidarContraseña') }}">¿Olvidaste tu contraseña?</a>
                    </button>
                </div>
            </form>
        </div>  
    </div>     
</div>

{% endblock content %}
